---
import BaseLayout from '../layouts/baselayout.astro';
import '../styles/global.css';

const pageTitle = "About";
const identity = {
	firstName: "Colin",
	country: "Japan",
	occupation: "writer, editor, and frontend web developer",
	hobbies: ["photography", "gardening", "reading"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

---

<BaseLayout pageTitle={pageTitle}>
	<p>Hi, my name is {identity.firstName}. I live in {identity.country} and I work as a {identity.occupation}. 
    {identity.hobbies.length >= 2 &&
    <p>My hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}.</p>
  }</p>
<p>Skills:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>

<p>{happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}</p>
</BaseLayout>
