---
import BaseLayout from './baselayout.astro';
const { frontmatter } = Astro.props;

---
<BaseLayout pageTitle={frontmatter.title}>
  <p class="blog-header">{frontmatter.pubDate.toString().slice(0,10)}</p>
  <p class="blog-header"><em>{frontmatter.description}</em></p>
  <p class="blog-header">Written by: {frontmatter.author}</p>
  <img class="blog-header" src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<br>
    <div class="tags">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
<slot />  



</BaseLayout>

<style>

      a {
    color: var(--links);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

 
  .tag {
    margin: 0.25em;
    border: solid 1px rgba(255, 255, 255, 0.521);
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1em;
    background-color: var(--background);
  }

   .tag:hover {
    color: #008062;
    background-color: white;
    transition: 0.3s;
  }
    .blog-header {
        text-align: center;
        margin: auto;
    }
</style>